@font-face {
  font-family: "manju-icons";
  src: url('manju-icons.eot?t=1780135963516'); /* IE9*/
  src: url('manju-icons.eot?t=1780135963516#iefix') format('embedded-opentype') /* IE6-IE8 */,
  url('manju-icons.woff?t=1780135963516') format('woff'),
  url('manju-icons.ttf?t=1780135963516') format('truetype'),
  url('manju-icons.svg?t=1780135963516') format('svg');
}

[class^="manju-icons-"], [class*=" manju-icons-"] {
  font-family: 'manju-icons' !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




:global {
.manju-icons-action-delete::before { content: "\ea01"; }
.manju-icons-action-document::before { content: "\ea02"; }
.manju-icons-action-save::before { content: "\ea03"; }
.manju-icons-action-template::before { content: "\ea04"; }
.manju-icons-ai-text-control::before { content: "\ea05"; }
.manju-icons-batch::before { content: "\ea06"; }
.manju-icons-card-add::before { content: "\ea07"; }
.manju-icons-card-delete::before { content: "\ea08"; }
.manju-icons-card-edit::before { content: "\ea09"; }
.manju-icons-card-upload::before { content: "\ea0a"; }
.manju-icons-checkbox-checked::before { content: "\ea0b"; }
.manju-icons-checkbox-muted::before { content: "\ea0c"; }
.manju-icons-chevron-down::before { content: "\ea0d"; }
.manju-icons-chip-add::before { content: "\ea0e"; }
.manju-icons-chip-close::before { content: "\ea0f"; }
.manju-icons-flow-complete::before { content: "\ea10"; }
.manju-icons-flow-script::before { content: "\ea11"; }
.manju-icons-flow-settings::before { content: "\ea12"; }
.manju-icons-flow-storyboard::before { content: "\ea13"; }
.manju-icons-flow-video::before { content: "\ea14"; }
.manju-icons-model-openai::before { content: "\ea15"; }
.manju-icons-pager-next::before { content: "\ea16"; }
.manju-icons-pager-prev::before { content: "\ea17"; }
.manju-icons-play-small::before { content: "\ea18"; }
.manju-icons-project-create-plus::before { content: "\ea19"; }
.manju-icons-project-import::before { content: "\ea1a"; }
.manju-icons-reference-collapse-left::before { content: "\ea1b"; }
.manju-icons-reference-expand-right::before { content: "\ea1c"; }
.manju-icons-reference-rail-handle::before { content: "\ea1d"; }
.manju-icons-search::before { content: "\ea1e"; }
.manju-icons-social-alipay::before { content: "\ea1f"; }
.manju-icons-social-qq::before { content: "\ea20"; }
.manju-icons-social-wechat::before { content: "\ea21"; }
.manju-icons-star-filled::before { content: "\ea22"; }
.manju-icons-star-outline::before { content: "\ea23"; }
.manju-icons-timeline-copy-active::before { content: "\ea24"; }
.manju-icons-timeline-copy::before { content: "\ea25"; }
.manju-icons-timeline-delete-active::before { content: "\ea26"; }
.manju-icons-timeline-delete::before { content: "\ea27"; }
.manju-icons-timeline-upload-active::before { content: "\ea28"; }
.manju-icons-timeline-upload::before { content: "\ea29"; }
.manju-icons-tool-copy::before { content: "\ea2a"; }
.manju-icons-tool-edit::before { content: "\ea2b"; }
.manju-icons-tool-fullscreen::before { content: "\ea2c"; }
.manju-icons-tool-lock::before { content: "\ea2d"; }
.manju-icons-tool-view-off::before { content: "\ea2e"; }
.manju-icons-tool-view::before { content: "\ea2f"; }
.manju-icons-tool-zoom-out::before { content: "\ea30"; }
.manju-icons-tool-zoom::before { content: "\ea31"; }
.manju-icons-topbar-cart-active::before { content: "\ea32"; }
.manju-icons-topbar-cart-default::before { content: "\ea33"; }
.manju-icons-topbar-home::before { content: "\ea34"; }
.manju-icons-topbar-points::before { content: "\ea35"; }
.manju-icons-topbar-resource::before { content: "\ea36"; }
.manju-icons-topbar-system::before { content: "\ea37"; }
.manju-icons-topbar-team::before { content: "\ea38"; }
.manju-icons-topbar-user::before { content: "\ea39"; }
.manju-icons-topbar-voice::before { content: "\ea3a"; }
.manju-icons-trash::before { content: "\ea3b"; }
.manju-icons-user-menu-logout::before { content: "\ea3c"; }
.manju-icons-user-menu-notify::before { content: "\ea3d"; }
.manju-icons-user-menu-password::before { content: "\ea3e"; }
.manju-icons-user-menu-space::before { content: "\ea3f"; }
.manju-icons-user-menu-switch-team::before { content: "\ea40"; }

}
