:root {
  --color-bg: #09090a;
  --color-panel: #151516;
  --color-panel-2: #202124;
  --color-border: #303136;
  --color-text: #fff;
  --color-text-muted: #9a9a9a;
  --color-primary: #8b5cf6;
  --color-primary-2: #ff9df2;
}
